h1, h2, h3 {
	font-family: 'Titillium Web', sans-serif;
}
input[type="text"] {
	width: 3em;
	height: auto;
	border: 1px solid #cecece;
    border-radius: .5em;
	margin: 0 1em;
	padding: .5em 1em;
	text-align: center;
}
	input[type="text"] {
		outline: 0;
	}
select {
	width: auto;
	height: auto;
	margin: 0;
	padding: .5em 1em;
	border: none;
    border-radius: .5em;
    background: #ffffff;
    color: #000000;
}
input[type="button"] {
	margin: 0;
	padding: .5em 1em;
	background-color: #FFCC00;
    border: none;
	border-radius: .5em;
    color: #003398;
    font-size: 1.2em;
    font-weight: bold;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
    background-color: #003398;
    color: #ffffff;
}
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -3em;
    }
    .footer, .push {
        height: 3em;
    }
    .footer {
        text-align: center;
    }
	#headerContainer, #initContainer, #canvasContainer {
		margin: 0 auto;
	}
    #headerContainer {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 1em 0;
    }
        .title {
            width: auto;
            height: auto;
            margin: 0 auto;
            padding: .5em;
            display: inline-block;
            background-color: #FFCC00;
            color: #003398;
            font-size: 3em;
            text-transform: uppercase;
            font-family: 'Erica One', cursive;
            border-radius: 50%;
        }
	#initContainer {
		text-align: center;
	}
        .formContainer {
            height: auto;
            display: inline-block;
            vertical-align: top;
        }
		.row {
			width: 100%;
			height: auto;
			margin: .5em auto;
			padding: 0;
		}
            .col-3 {
                width: 33%;
                height: auto;
                display: inline-block;
                vertical-align: top;
            }
                .col-header {
                    width: 100%;
                    height: auto;
                    margin: 0 auto .5em;
                }
                .col-content {
                    width: 100%;
                    height: auto;
                }
                .col-errors {
                    color: #f00;
                    margin: 1em 0;
                }
		.inputs {
			margin-top: 2em;
		}
	#canvasContainer {
		/* Width is set in media queries */
		height: auto;
		text-align: center;
	}
		/*#myCanvas {
			width: 100%;
			max-width: 100% !important;
			height: auto;
			text-align: center;
			position: relative;
			margin: 5% auto;
		}*/
        #myCanvas {
            position: relative;
            left: 0;
            top: 0;
            margin: 0 auto;
            padding: 0;
            display: block;
        }
		#message {
			width: 100%;
			height: auto;
			margin: 0 auto;
			text-align: center;
		}

/* Media queries */
@media (max-width: 600px) {
	#initContainer, #canvasContainer {
		width: 400px;
	}
    .col-3, .formContainer {
        width: 100%;
    }
}
@media (min-width: 601px) and (max-width: 768px) {
    #initContainer, #canvasContainer {
		width: 580px;
	}
    .col-3, .formContainer {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
	#initContainer, #canvasContainer {
		width: 760px;
	}
    .col-3, .formContainer {
        width: 100%;
    }
}
@media (min-width: 993px) {
	#initContainer, #canvasContainer {
		width: 950px;
	}
    .col-3, .formContainer {
        width: 100%;
    }
}