<section id="amazon-disclosure">
    <div class="container">
        <div class="item flex-100 is-center-aligned">
            <div class="alert-wrapper">
                <div class="is-alert is-primary-alert">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle is-inline-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="12" y1="8" x2="12.01" y2="8" />
                            <polyline points="11 12 12 12 12 16 13 16" />
                        </svg>
                    </div>
                    <p class="is-left-aligned">Some of the Amazon links in this page may provide me with a small kickback via the Amazon Associates Program</p>
                </div>
            </div>
        </div>
    </div>
</section>