<header>
    <div class="container">
        <div class="item flex-50">
            <span class="site-title is-hidden-mobile is-hidden-tablet"><a href="/">Ben Walters</a></span>
            <span class="site-title is-hidden-desktop"><a href="/">BW</a></span>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="item flex-50">
            <nav>
                <ul>
                    <li><a href="/about-me/">About Me</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>