#post-list {
    p.is-subheading {
        margin: 1.25rem 0;
    }
    a {
        color: $black;
        text-decoration: none;
    }
    .background-image-wrapper {
        padding: 0 1.25rem 0 0;
    }
}

@include phone-and-tablet {
    #post-list {
        > .container {
            padding-top: 0;
            padding-bottom: 2.5rem;
            > .item {
                min-height: 15em;
            }
        }
        .background-image-wrapper {
            padding: 1.25rem;
        }
    }
}

@include desktop {
    #post-list {
        .background-image-wrapper {
            padding: 0 1.25rem;
        }
    }
}