<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include body.html %}
        <header>
            <div class="container">
                <div class="item flex-50">
                    <h1 class="is-hidden-mobile is-hidden-tablet"><a href="/">Ben Walters</a></h1>
                    <h1 class="is-hidden-desktop"><a href="/">BW</a></h1>
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="item flex-50">
                    <nav>
                        <ul>
                            <li><a href="/about-me/">About Me</a></li>
                            <li><a href="/projects/">Projects</a></li>
                            <li><a href="https://blog.bpwalters.com">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
    {% include scripts.html %}
</html>