<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="item flex-100 is-center-aligned">
            <span class="site-title is-hidden-mobile is-hidden-tablet"><a href="/">Ben Walters</a></span>
            <span class="site-title is-hidden-desktop"><a href="/">BW</a></span>
                </div>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
    {% include scripts.html %}
</html>