header {
    border-bottom: 1px solid $light-gray;
    .container {
        padding: 0;
        @include align-items(center);
    }
    h1 {
        padding: 0;
        margin: .5em 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        a {
            text-decoration: none;
            color: $black;
        }
    }
    nav {
        text-align: right;
        &.open {
            display: block;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    margin: 0 .9em;
                    display: block;
                    font-size: 1em;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 200;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $dark-gray;
                }
            }
        }
    }
    .hamburger {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 1.1rem;
        flex: none;
        transform: rotate(0deg);
        transition: .5 ease-in-out;
        cursor: pointer;
        > span {
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background-color: $dark-gray;
        }
        span:nth-child(1) {
            top: 0px;
        }
        &.open span:nth-child(1) {
            top: 8px;
            transform: rotate(-135deg);
        }
        span:nth-child(2) {
            top: 8px;
        }
        &.open span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            top: 16px;
        }
        &.open span:nth-child(3) {
            top: 8px;
            transform: rotate(135deg);
        }
    }
}

@include phone-and-tablet {
    header {
        nav {
            display: none;
            ul {
                li {
                    width: 100%;
                    a {
                        width: 100%;
                        padding: 0;
                        margin: 1em 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include desktop {
    header {
        .hamburger {
            display: none !important;
        }
    }
}