$phone-max-width: 320px;
$tablet-min-width: 321px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;
$container-max-width: 1100px;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #353638;
$gray: #8f9093;
$light-gray: #EAE8E8;
$blue: #398FED;